/* this file is left blank on purpose, if developer can't find classes he needs in framework, he can customize his
app adding his own styles here
 */
 
 /**
  * Copied from Samsung Tizen Forum
  * @url: https://developer.tizen.org/ko/forums/web-application-development/tau-snap-list-view-not-working-properly?langswitch=ko
  */
 .ui-listview li.li-has-multiline {
    padding-top: 6px;
	padding-bottom: 5px;
	min-height: 100px;
}
.ui-listview.ui-snap-listview li.li-has-multiline {
	padding-top: 17px;
	padding-bottom: 17px;
	min-height: 108px;
	line-height: normal;
}
 
.ui-listview.expand-list li.li-has-2line .ui-li-sub-text{
	-webkit-transform: translate(0, -20px);
	opacity: 0;
}
.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-li-sub-text{
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-transition: all ease 1s;
}
 
.ui-listview li .li-text-sub {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 32px;
}
 
.ui-listview .li-text-sub-right-icon {
	width: calc(100% - 34px);
}
 
.ui-listview .li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled .li-text-sub,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled .li-text-sub {
	color: rgb(51, 51, 51);
}
 
 
.ui-listview li.li-has-next-depth.disabled,
.ui-listview li.li-has-next-depth.disabled a,
.ui-listview li.li-has-next-depth.disabled .li-text-sub {
	color: rgb(51, 51, 51);
}